<h1>Editing <a href="/<%= @page.name %>"><%= @page.title %></a></h1>

<div class="sub_nav">
  <a href="/<%= @page.basename %>" class="nav_link">back</a>
  &bull; <a href="/a/file/upload/<%= @page.basename %>" class="nav_link">attach</a>

  <% if @page.tracked? %>
    &bull; <a href="/h/<%= @page.basename %>" class="nav_link">history</a>
  <% end %>

  <% if files = @page.attachments %>
    <h3>Attachments</h3>
    <% files.each do |file| %>
      <li><a href="<%= file.link_path %>"><%= file.name %></a>
        <span class="detail">(<%= file.size %>)</span>
        <div class="attach-options">
          <a href="<%= file.delete_path %>">delete</a>
          &bull; <a href="<%= file.link_path %>">download</a>
          &bull; <a href="#" class="replace" name="<%= file.name.unwiki_filename %>" url="<%= file.link_path %>" image="<%= (file.image?) ? true : false %>">insert &#187;</a>
        </div>
      </span>
    <% end %>
  <% end %>
</div>

<div class="content">
  <form method="post" action="/e/<%= @page.basename %>">
    <textarea name="body" id="edit_textarea"><%= @page.raw_body %></textarea>
    Message:
    <textarea name="message" rows="4" id="message_textarea"></textarea>
    <p class="right"><input type="submit" value="Save" class="submit" /></p>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    // assign the a.replace paste events
    $('a.replace').click(function(e) {
      var name = $(this).attr('name');
      var url = $(this).attr('url');
      var isImage = $(this).attr('image');
      var link = calc_link(name, url, isImage);
      var ref = calc_link_ref(name, url, isImage);
      $("#edit_textarea").replaceSelection(link, true);
      $("#edit_textarea").val($("#edit_textarea").val()+"\n"+ ref);
      $.each($("#edit_textarea"), update);
      e.preventDefault();
      return false;
    });

  });

  function calc_link(name, url, image){
    if(image=="true"){
      return "!["+name+"][]";
    }else{
      return "["+name+"][]";
    }
  }

  function calc_link_ref(name, url, image){
    return "[" + name + "]: " + url;
  }
</script>