<h1>Editing <a href="/<%= @page.name %>"><%= @page.title %></a></h1>

<div class="sub_nav">
  <a href="/<%= @page.basename %>" class="nav_link">back</a>
  &bull; <a href="/a/file/upload/<%= @page.basename %>" class="nav_link">attach</a>

  <% if @page.tracked? %>
    &bull; <a href="/h/<%= @page.basename %>" class="nav_link">history</a>
  <% end %>

  &bull; <a id="delete_link" href="#" class="nav_link">delete</a>

  <% if files = @page.attachments %>
    <h3>Attachments</h3>
    <div id="attachments">
    <% files.each do |file| %>
      <div class="attachment_item"><a href="<%= file.link_path %>"><%= file.name %></a>
        <span class="detail">(<%= file.size %>)</span>
        <div class="attach-options">
          <a class="delete_attachment" href="<%= file.delete_path %>" aname="<%= file.name %>">delete</a>
          &bull; <a class="replace_attachment" href="<%= file.replace_path %>" aname="<%= file.name %>">replace</a>
          &bull; <a href="<%= file.link_path %>">download</a>
          &bull; <a href="#" class="replace" name="<%= file.name.unwiki_filename %>" url="<%= file.link_path %>" image="<%= (file.image?) ? true : false %>">insert &#187;</a>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

<div class="content">
  <div id="editor-choices">
    <a id="editor-none" href="#" class="hide">Hide Markdown toolbar</a>
    <a id="editor-markdown" href="#">Show Markdown toolbar</a>
    |
    <a id="markdown-quickref-show" href="#">Show Markdown Quickref</a>
    <a id="markdown-quickref-hide" href="#" class="hide">Hide Markdown Quickref</a>
  </div>
  <div id="markdown-quickref" class="hide">
    # h1, ## h2, ### h3, _italic_, **bold**, - list, 1. olist, 4spaces code, [[wiki link]], [link](url), ![alt](imageURL)<br/>
    <a href="http://daringfireball.net/projects/markdown/syntax" target="MarkdownDaringFireball">Full Markdown syntax</a>
  </div>
  <form method="post" action="/e/<%= @page.basename %>">
    <textarea name="body" id="edit_textarea"><%= @page.raw_body %></textarea>
    Message:
    <textarea name="message" rows="4" id="message_textarea"></textarea>
    <input type="hidden" name="content_type" value="markdown"/>
    <p class="right"><input type="submit" value="Save" class="submit" /></p>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    // assign the a.replace paste events
    $('a.replace').click(function(e) {
      var name = $(this).attr('name');
      var url = $(this).attr('url');
      var isImage = $(this).attr('image');
      var link = calc_link(name, url, isImage);
      var ref = calc_link_ref(name, url, isImage);
      $("#edit_textarea").replaceSelection(link, true);
      $("#edit_textarea").val($("#edit_textarea").val()+"\n"+ ref);
      $.each($("#edit_textarea"), update);
      e.preventDefault();
      return false;
    });

    //delete_link onclick posts a delete of page
    $("#delete_link").click(function(e){
      if(confirm("Delete <%= @page.basename %>")){
        $.post("/delete/<%= @page.basename %>", null, function(data, textStatus){
          $("#messages").text(data).fadeIn(4000, function(){
            document.location = "/"; //redirect to top
          });
        });
      }
    });

    //delete attachment link onclick posts to delete file, then hides item
    $("a.delete_attachment").click(function(e){
      var a = $(this);
      var name = a.attr('aname');
      var url = a.attr('href');
        if(confirm("Delete "+name)){
        $.post(url, null, function(data, textStatus){
          a.parent("div.attach-options").parent("div.attachment_item").hide("slow");
        });
      }
      return false;
    });


    //editor-selection

    $("#editor-none").click(function(e){
      $("#edit_textarea").markItUpRemove();
      $(this).hide();
      $("#editor-markdown").show();
      return false;
    });

    $("#editor-markdown").click(function(e){
      $("#edit_textarea").markItUp(markItUpMarkdownSettings);
      $(this).hide();
      $("#editor-none").show();
      return false;
    });

    //markdown quickref toggle

    $("#markdown-quickref-show").click(function(e){
      $("#markdown-quickref").show();
      $(this).hide();
      $("#markdown-quickref-hide").show();
      return false;
    });

    $("#markdown-quickref-hide").click(function(e){
      $("#markdown-quickref").hide();
      $(this).hide();
      $("#markdown-quickref-show").show();
      return false;
    });


  });

  function calc_link(name, url, image){
    if(image=="true"){
      return "!["+name+"][]";
    }else{
      return "["+name+"][]";
    }
  }

  function calc_link_ref(name, url, image){
    return "[" + name + "]: " + url;
  }
</script>