<script type="text/javascript">
  $(document).ready(function() {
    $(".edit_area").editable('/eip/<%= @page.basename %>', {
      indicator: "saving...",
      tooltip: 'double-click to edit...',
      cancel: 'cancel',
      submit: 'save',
      event: 'dblclick',
      cssclass: 'edit',
      loadurl: '/<%= @page.basename %>/raw',
      type: 'textarea',
      name: 'body'
    });
  });
</script>

<div class="page_title"><%= @page.title %></div>

<%= @env %>

<div class="sub_nav">
  <% if params[:rev] %>
    <a href="/<%= @page.basename %>" class="nav_link">current</a> &bull;
  <% else %>
    <a href="/e/<%= @page.basename %>" class="nav_link">edit</a> &bull;
  <% end %>

  <a href="/h/<%= @page.basename %>" class="nav_link">history</a>

  <% if @page.previous_commit %>
    &bull; <a href="/h/<%= @page.basename %>/<%= @page.previous_commit %>" class="nav_link">older</a>
  <% end %>

  <% if @page.next_commit %>
    &bull; <a href="/h/<%= @page.basename %>/<%= @page.next_commit %>" class="nav_link">newer</a>
  <% end %>

  <span class="sub_nav details">
    <script type="text/javascript">
      document.write(time_ago_in_words(<%= @page.updated_at.for_time_ago_in_words %>) + ' ago');
    </script>

    <!--
    <%= $repo.current_branch %> branch
    --> 
  </span>

</div>

<div class="content edit_area"><%= @page.body %></div>